html {
    font-size: 14px;
}

.photo-preview {
    border: 8px double white;
    position: relative;
    left: 18%;
    width: 800px;
    height: 450px;
    margin-bottom: 5px;
}

img {
    width: 800px;
    height: 450px;
}

.space {
    padding-top: 30px;
}

.long {
    width: 650px;
}

.white-font {
    color: white;
}

label {
    font-size: 24px;
}

#nextPhotoButton {
    font-size: 30px;
}   

#favoritePhoto {
    font-size: 20px;
}   

#space-background {
    background-image: url('space_background.jpeg');
    background-size: cover;
}

#astro-background {
    background-image: url('floating-astronaut.jpeg');
    background-size: cover;
  }


  
