html {
    font-size: 14px;
}

.photo-preview {
    border: 8px double white;
    position: relative;
    left: 18%;
    width: 800px;
    height: 450px;
    margin-bottom: 5px;
}

img {
    width: 800px;
    height: 450px;
}

.space {
    padding-top: 30px;
}

.long {
    width: 650px;
}

.white-font {
    color: white;
}

label {
    font-size: 24px;
}

#nextPhotoButton {
    font-size: 30px;
}   

#favoritePhoto {
    font-size: 20px;
}   

#space-background {
    background-image: url('space_background.jpeg');
    background-size: cover;
}

#astro-background {
    background-image: url('BARD.jpeg');
    background-size: cover;
}

#home-background {
    background-image: url('home3.jpeg');
    background-size: cover;
}

#lookUp-title {
    color: white;
    font-size: 50px;
}

.name-font {
    color: white;
    font-size: 30px;
}

.title-button {
    font-size: 20px;
}

.middle-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px cyan groove;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;    ww2
}


  
