<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Album</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body>
	<h1>Album</h1>

    <a href="/photoViewer">
        <button>Photo Viewer</button>
    </a>

    <br><br>

    <a href="/album">
        <button>Album</button>
    </a>

</body>

</html>