<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Album</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body>
	<h1><%- name %></h1>

    <div>
        <%- photos %>
    </div>

</body>

</html>