<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="space-background">
	<h1 class="white-font">Game</h1>

    <div class="photo-preview">
        <img name="photo" src=<%- photo %> alt="image"/>
    </div>

    <form action="./getNewPhoto" method="post">
        <p>Please select your favorite Web language:</p>
        <input type="radio" id="description-1" name="choice" value="choice-1">
        <label for="description-1"><%- description-1 %></label><br>

        <input type="radio" id="description-2" name="choice" value="choice-2">
        <label for="description-2"><%- description-2 %></label><br>

        <input type="radio" id="description-3" name="choice" value="choice-3">
        <label for="description-3"><%- description-3 %></label>

        <input type="submit" value="Submit">
      </form>
    <a href="/">
        <button id="nextPhotoButton">Back to Home</button>
    </a>


</body>

</html>