<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NASA Home Page</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="home-background">
    <div class="middle-border">

	<h1>Enter Your Name to Begin</h1>
    <form action="./game" method="post">
        <input name="name" type="text">
        <button class="title-button" type="submit">Log In</button>
    </form>

    <a href="/leaderBoard">
        <button class="title-button">Leaderboard</button>
    </a>

</div>
</body>

</html>