<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NASA Home Page</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body>
    <div class="red-border">

	<h1>Home Page</h1>

    <a href="/photoViewer">
        <button>Photo Viewer</button>
    </a>

    <br><br>

    <a href="/lookUp">
        <button>Look Up</button>
    </a>

</div>
</body>

</html>