<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NASA Home Page</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="home-background">
    <div class="middle-border">

	<h1>Click to Begin </h1>
    <a href="/photoViewer">
        <button class="title-button">Photo Viewer</button>
    </a>

    <br><br>

    <a href="/lookUp">
        <button class="title-button">Look Up</button>
    </a>

</div>
</body>

</html>