<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="astro-background">
	<h1 id="leaderboard-title">Leaderboard</h1>

    <div id="answer">
        <%- playerTable %>
    </div>

    
    <a href="/">
        <button>Back to Home</button>
    </a>

</body>

</html>