<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Look Up</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="astro-background">
	<h1 id="lookUp-title">Look Up</h1>

    <form action="./albumCreation" method="post">
        <div class="space">
            <b class="name-font">Name:</b> <input id="name" type="text"></label>
            <button type="submit">Submit</button>
        </div>
    </form>
    <a href="/">
        <button>Back to Home</button>
    </a>

</body>

</html>