<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Look Up</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="astro-background">
	<h1>Look Up</h1>

    <form action="./albumCreation" method="post">
        <div class="space">
            Name: <input id="name" type="text" class="long"></label>
            <button type="submit">Submit</button>
        </div>
    </form>

</body>

</html>