<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="space-background">
	<h1 class="white-font">Game</h1>

    <form action="./game" method="post">
        <div>
        <fieldset class="long">
            <legend><b class="white-font">Personal Info</b></legend>
            <label class="white-font">Name: <input name="name" type="text" class="long"></label>
            <input name="submit" type="submit" value="Submit"> 
        </fieldset>
        </div>
        
    </form>



</body>

</html>