<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="space-background">
	<h1 class="white-font">Photo Viewer</h1>

    <div class="photo-preview">
        <img id="photo" src=<%- photo %> alt="image"/>
    </div>

    <form action="./addFavorite" method="post">
        <div class="space">
        <fieldset class="long">
            <legend><b class="white-font">Status</b></legend>
            <label for="photographer" class="white-font">Photographer:</label>
            <input id="photographer" type="text" class="long" value=<%- photographer %> disabled>
        </fieldset>
        </div>

        <div>
        <fieldset class="long">
            <legend><b class="white-font">Personal Info</b></legend>
            <label class="white-font">Name: <input id="name" type="text" class="long"></label>
            <input id="favoritePhoto" type="submit" value="Add to Favorites"> 
            <div id="status"></div>
        </fieldset>
        </div>
    </form>

    <form action="./getNewPhoto" method="get">
        <div class="space">
            <input id="nextPhotoButton" type="submit" value="Next Photo">
        </div>
    </form>


</body>

</html>