<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body>
	<h1>Photo Viewer</h1>

    <div class="photo-preview">
        <img id="photo" src="./InitialImage.jpg" alt="image" onclick="nextPhoto()"/>
    </div>

    <div>
    <fieldset>
        <legend><b>Status</b></legend>
        <label for="displayedPhoto">Photo Being Displayed:</label>
        <input id="displayedPhoto" type="text" class="long" value="InitialImage.jpg" disabled>
        <div id="status"></div>
    </fieldset>
    </div>

</body>

</html>