<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Album</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body>
    <h4>404 Name not found in database</h4>
    <a href="/">HOME</a> 

</body>

</html>